@use "../../styles/variables" as v;
@use "../../styles/responsive" as r;

.priceGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.8rem;

  @include r.nav-collapse {
    grid-template-columns: 1fr;
  }
}
